@tailwind base;
@tailwind components;
@tailwind utilities;

.notebook {
    outline: none;
    border: none;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
    background-color: transparent;
    background-size: 100% 1.5rem;
    background-image: linear-gradient(
        transparent 95%,
        rgba(0, 0, 0, 0.2) 5%
    );
}

@media (prefers-color-scheme: dark) {
    /* uncomment dark-mode styles if needed */
}
